.form-container {
    background: #e1e1e1;
    padding: 20px;
}
.content-container {
    padding: 20px;
}
.col-xs-6.col-md-3 {
    border-left: 1px solid #d9d9d9;
    min-height: 500px;
    border-bottom-right-radius: 15em;
}
.card {
    background-color: #efefef;
    padding: 30px;
    margin-bottom: 20px;
    height: 180px;
}
.card-text {
    color: #00bcd4;
    margin-bottom: 0;
}
#error {
    display: none;
}
.card-delete {
    position: absolute;
    right: 10px;
    top:6px;
    line-height: 9px;
    padding: 5px 15px;
    font-size: 17px;
    color: #f44336;
    cursor: pointer;
}