/* =========================
    STYLE START
===========================*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro {
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.card {
    background-color: #06b81C;
    border-radius: 40px;
}
h3 {
        margin: 1rem 0 1rem 0;
}
.card .card-content {
    padding: 10px;
}
.timeContent, .breakContent, .start {
    text-align: center;
}
#timerNumber, #breakNumber {
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: -webkit-baseline-middle;
}
.bg-color {
    background-color: #D52200 !important;
}
.pomodoro img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
#reset, #start {
    margin-top: 5px;
}
@media (max-width: 600px) {
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.9rem;
    }
    #timerNumber, #breakNumber {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .circle {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}

/* =========================
    STYLE END
===========================*/