body {
    margin: 0;
    font-family: 'Roboto';
}
header {
    background:#03a9f4;
    text-align: center;
}
.logo {
    color: #fff;
    font-size: 40px;
    font-family: 'Pacifico';
}
header input {
    margin: 20px 0px;
    width: 50%;
    border-radius: 50px;
    -webkit-appearance: none;
    border: 1px solid #d6d6d6;
    padding: 10px 30px;
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto';
}
header input:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #b8b8b8;
    font-family: 'Roboto';
}
.news_item {
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
}
