@import url('https://fonts.googleapis.com/css?family=Alegreya');
body {
    min-height: 2000px;
    padding-top: 70px;
    background: #F5F5F5;
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
    margin: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
/*************************
    NAVBAR START
**************************/
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.menu .navbar-brand {
  height: 80px;
}

.menu .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.menu .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}
.navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}
.navbar-alignit .navbar-brand {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}
.navbar-nav>li>.dropdown-menu {
	z-index: 9999;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
/*************************
    NAVBAR END
**************************/

/*************************
    HEADER START
**************************/
.header {
    background-image: url("../images/Zia-Header.jpg");
    background-size: cover;
    margin-top: -20px;
    height: 600px;
    text-align: center;
    padding-top: 70px;
    color: #F5F5F5;
}
.header h1 {
    color: #ffffff;
    font-family: monoton;
    font-size: 3.25em;
    margin-top: 110px;
}
.header p {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 3em;
    margin-top: 25px;
}
@media only screen and (max-width: 500px){ 
    .header h1 {
        font-size: 2.25em;
        margin-top: 15px;
    }
    .header p {
        font-size: 1.7em;
        margin-top: 25px;
    }
 }
 @media only screen and (max-width: 800px){ 
    .header h1 {
        font-size: 2.25em;
        margin-top: 20px;
    }
    .header p {
        font-size: 1.7em;
        margin-top: 25px;
    }
 }

/*************************
    HEADER END
**************************/

/*************************
    HEADER HEADING START
**************************/
.content-header {
    background-color: #F1AA90;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -30px;
    margin-bottom: 0;
}
.content-header h1{
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 4.25em;
    text-align: center;
    padding: 10px;
}
/*************************
    HEADER HEADING END
**************************/

/*************************
    ABOUT ME START
**************************/
#about {
    background-image: url('https://raw.githubusercontent.com/ziaongit/ziaongit.github.io/master/resources/images/about-me.jpg');
    padding: 20px 0;
    clear: both;
    margin-top: -20px;
}
.hero-unit {
    background-image:url('https://raw.githubusercontent.com/ziaongit/ziaongit.github.io/master/resources/images/about-me.jpg');
    background-size: cover;
    background-position: center;
    background-color: #EEEEEE;
    height: 100%;
    padding: 10px 0;
  
  }
.hero-unit .btn-success {
    background-color: #F1AA90;
    border-color: #FFFFFF;
}
.hero-unit h2 {
    font-size: 30px;
    color: #FFFFFF;
   
}

.hero-unit h4 {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}
.hero-unit p {
    padding: 8px 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16px;
    color: #F0F0F0;
}
.fill{width:100%;height:350px;background-position:center;background-size:cover;
}
.resume {
    text-align: center;
}
/*************************
    ABOUT ME END
**************************/

/*************************
    SKILLS START
**************************/
#skills {
    padding: 30px 0;
        background-color: #C3D7DF;
}
.one-fourth {
    text-align: center;
    background-color: transparent;
    border: none;
}
.one-fourth h3{
    color: #F5F5F5;
}
.one-fourth h3:hover{
    color: #F5F5F5;
    text-decoration: none;
}
.one-fourth i {
    color: #F0F0F0;
    font-size: 50px;
    padding: 6% 0 0 0;
}
#webDesign {
    background-color: #F1AA90;
    text-align: center;
}
#webDevelopment {
    background-color: #BEB9AD;
    text-align: center;
}
#socialMedia {
    background-color: #AADCD2;
    text-align: center;
}
#webSEO {
    background-color: #A2B2C1;
    text-align: center;
}
.skills-detail {
    width: 100%;
    background-color: #C3D7DF;
    text-align: center;
}

.skills-detail h2 {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
    color: #F5F5F5;
}
.skills-detail p {
    font-family: 'Alegreya' sans-serif;
    color: #F5F5F5;
    font-size: 140%;
    line-height: 140%;
    padding: 3%;
    text-indent: 2%;
}
.skills-detail img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}
/*************************
    SKILLS END
**************************/

/*************************
    PORTFOLIO START
**************************/
#portfolio {
    background-image:url('../images/about-me.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:100%;
    padding: 30px 0;
}
.portfolio {
    padding:80px;
}
.portfolio-item {
    margin-bottom: 25px;
}
/*************************
    PORTFOLIO END
**************************/

/*************************
    HOBBIES START
**************************/
#hobbies {
    padding: 30px 0;
    background-color: #A2B2C1;
}

#hobbies p {
    font-family: 'Alegreya' sans-serif;
    color: #F5F5F5;
    font-size: 140%;
    line-height: 150%;
    padding-top: 5px;
}
#googleSearch {
    background-color: #A2B2C1;
}
#sport {
    background-color: #BEB9AD;
}
#writing {
    background-color: #AADCD2;
}
/*************************
    HOBBIES END
**************************/

/*************************
    CONTACT START
**************************/
#contact {
    background-image:url('../images/about-me.jpg');
    background-size:cover;
    background-color: #EEEEEE;
    height:100%;
    padding: 30px 0;
}
.about-me{
    text-align: center;
}
.about-me h1{
    font-size: 25px;
}
#contactForm .btn-success {
    background-color: #F1AA90;
    border-color: #FFFFFF;
}
#contactForm {
    padding: 30px 0;
}
#contactForm#contact .section-heading {
    color: white;
}
#contact .form-group {
    margin-bottom: 15px;
}
#contact .form-group input,
#contactForm#contact .form-group textarea {
    padding: 10px;
}
#contact .form-group input.form-control {
    height: auto;
}
#contact .form-group textarea.form-control {
    height: 200px;
}
#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #ccc;
}
#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
#contact .text-danger {
    color: #e74c3c;
}
.address {
    padding-top: 40px;
}
.alert {
    color: #F5F5F5;
    padding: 7px;
    margin-bottom: 0;
    border: 1px solid transparent;
    background-color: #6991AC;
}
/*************************
    CONTACT END
**************************/

/*************************
    FOOTER START
**************************/
footer {
    background-color: #6991AC;
}
.social {
    list-style-type: none;
    text-align: center;
}
.social li {
    display: inline;
}
.social i {
    font-size: 460%;
    margin: 1%;
    padding: 5% 5% 5% 4%;
    color: #C3D7DF;
}
.social i:hover {
    color: #F5F5F5;
}
footer.second {
    border-top: 1px solid #AADCD2;
    background-color: #222;
    max-height: 55px;
    margin: -10px 0 0 0;
    padding: 35px;
}
footer.second p{
    color: #F5F5F5;
    text-align: center;
}

/*************************
    FOOTER END
**************************/

.fa-fiverr:before {
    content: "Fiverr";
    font-size: 32px;
    border-left: 6px solid;
    border-right: 6px solid;
    border-radius: 30px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: 'Alegreya';
    vertical-align: middle;
}