.box001 {
    float: left;
    width: 200px;
    height: auto;
    margin: 12px;
    padding: 10px;
}
img{
width: 200px;
height:auto;
}
.box002 {
    float: left;
    width: 200px;
    height: auto;
    margin: 12px;
    padding: 10px;
}

.box002 img{
    width: 200px;
    height:auto;
}