/* =========================
    GENERAL START
===========================*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
.intro {
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 365px;
    margin: 0 auto;
    text-align: center;
    background-color: #670d0d;
    border-radius: 30px;
    padding: 20px 20px 40px 20px;
}
.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    padding-bottom: 10px;
    font-size: 225%;
}

/* =========================
    GENERAL END
===========================*/

/* =========================
  CALCULATOR BUTTON STAR
===========================*/
#calculator {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.calculator-button {
    width: 25%;
    height: 20%;
    background-color: #DDD;
    border: 1px solid white;
    outline: 0;
    cursor: pointer;
    font: inherit;
}
.calculator-display {
    background-color: #F9F3F4;
    width: 75%;
    height: 20%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 5px;
}
/* =========================
  CALCULATOR BUTTON END
===========================*/