body {
    font-family: Roboto;
}

/* --------------------------
        SEARCH START
--------------------------- */
#search_artist {
    padding: 20px;
}
#search_artist .wrapper {
    margin: 0 auto;
}
#search_artist .wrapper h1 {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
    color: #00bcd4;
    font-family: 'Pacifico', cursive;
}
#search_artist .wrapper input {
    width: 100%;
    border-radius: 50px;
    -webkit-appearance: none;
    border: 1px solid #d6d6d6;
    padding: 10px 30px;
    font-size: 21px;
    font-weight: 300;
    font-family: Roboto;

}
#search_artist .wrapper input:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #b8b8b8;
    font-family: Roboto;
    text-align: center;
}
/* --------------------------
        SEARCH END
--------------------------- */

/* --------------------------
        ALBUMS START
--------------------------- */
#album_list_container {
    margin-top: 50px;
}
#album_list_container .album_item .item_thumbnail {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-size: cover !important;
    background-repeat: no-repeat;
}
#album_list_container .album_item{
    padding: 20px 0;
    background: #f7f7f7;
    border-top: 1px solid #dedede;
    text-align: center;
}
#album_list_container .album_item .item_title {
    font-size: 20px;
    padding: 20px 0 10px;
    text-align: center;
}
#album_list_container .album_item .item_price {
    text-align: center;
    color: #009688;
    font-size: 14px;
}
#album_list_container .album_item a {
    background: #2196f3;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

/* --------------------------
        ALBUMS END
--------------------------- */

/* --------------------------
    NO DATA FOUND START
--------------------------- */
#no_data {
    display: none;
    text-align: center;
}
#something_wrong {
    display: none;
    text-align: center;
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-warning {
    border-color: #FEAF20;
}
/* --------------------------
    NO DATA FOUND END
--------------------------- */